$container-width: 1080px;
.supportPage {
  .innerContainer {
    max-width: $container-width;
    margin: 0 auto;
    padding: 90px;
    @media (max-width: 768px) {
      padding: 60px 10px;
    }
  }
}

.line {
  width: 48px;
  height: 1px;
  border-bottom: solid 1px #1ae8c9;
  margin: 0 auto;
  margin-bottom: 12px;
}

.subTitle {
  font-size: 28px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #0c1020;
  margin-bottom: 60px;
  @media (max-width: 768px) {
    margin-bottom: 36px;
  }
}

.formWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  @media (min-width: 768px) {
    .inputWrapper {
      &:nth-child(odd) {
        padding-right: 10px;
      }
      &:nth-child(even) {
        padding-left: 10px;
      }
    }
  }
}

.inputWrapper {
  flex: 1 auto;
  min-width: 50%;
  margin-bottom: 24px;
}

.label {
  display: block;
  height: 24px;
  font-size: 18px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: normal;
  color: #666d7c;
  margin-bottom: 12px;
}

.textForm {
  width: 100%;
  height: 60px;
  padding: 16px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #bbc2d0;
  font-size: 19px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666d7c;
}

.selectWrapper {
  margin-bottom: 22px;
  &.reasonSelect {
    text-align: center;
    .selectForm {
      max-width: 350px;
    }
  }
}

.selectForm {
  width: 100%;
  height: 60px;
  padding: 16px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #bbc2d0;
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666d7c;
  text-align: center;
}

.info {
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #666d7c;
  margin-bottom: 90px;
  white-space: pre-wrap;
  a {
    color: #1ae8c9;
  }
  @media (max-width: 768px) {
    margin-bottom: 56px;
  }
}

.radioBtn {
  display: none;
  &+label {
    cursor: pointer;
    display: inline-block;
    margin-right: 16px;
    padding: 0 22px;
    line-height: 60px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #bbc2d0;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    color: #9aa3b5;
  }
  &:checked+label {
    color: #1ae8c9;
    border-color: #1ae8c9;
  }
}

.productForm {
  padding-left: 90px;
  padding-right: 90px;
  margin-bottom: 30px;
  @media (max-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.textWrapper {
  textarea {
    width: 100%;
    height: 180px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #bbc2d0;
    padding: 16px;
    font-size: 19px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666d7c;
  }
}

.submitWrapper {
  text-align: center;
  .checkboxWrapper {
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5f7591;
    margin-bottom: 11px;
    input {
      margin-right: 16px;
      vertical-align: middle;
    }
    label {
      text-align: left;
      display: inline-block;
      min-width: 310px;
      vertical-align: middle;
      .modalBtn {
        margin-left: 10px;
        color: #34495e;
        text-decoration: underline;
        cursor: help;
      }
    }
    @media (max-width: 768px) {
      label {
        min-width: initial;
        width: calc(100% - 40px);
      }
    }
  }
  .submitBtn {
    margin-top: 30px;
    width: 347px;
    height: 69px;
    line-height: 69px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #d8dde7;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: normal;
    text-align: center;
    color: #5f7591;
    &.active {
      cursor: pointer;
      border-color: #34495e;
      background-color: #34495e;
      color: #1ae8c9;
    }
  }
}

.infoModalBody {
  overflow: hidden;
}

.infoModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.41);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.infoModal {
  outline: none;
  max-width: 960px;
  width: 100%;
  border-radius: 10px;
  background-color: #ffffff;
  overflow: auto;
  padding: 50px 50px 30px 50px;
  @media (max-width: 768px) {
    padding: 24px 20px 16px 20px;
  }
}

.modalContent {
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #16212f;
  margin-bottom: 50px;
  white-space: pre-wrap;
  max-height: 70vh;
  overflow-y: auto;
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
  }
  .lead {
    display: block;
    font-size: 16px;
    font-weight: bold;
  }
  a {
    color: #1ae8c9;
  }
}

.closeBtn {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 183px;
  height: 57px;
  line-height: 57px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #d8dde7;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: normal;
  text-align: center;
  color: #5f7591;
}
