$container-width: 1080px;
.thirdSection {
  .innerContainer {
    max-width: $container-width;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 48px;
  }
}

.line {
  width: 48px;
  height: 1px;
  border-bottom: solid 2px #1ae8c9;
  margin-bottom: 16px;
}

.subTitle {
  font-size: 28px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  color: #0c1020;
  margin-bottom: 24px;
}

.subContent {
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666d7c;
  margin-bottom: 50px;
}

.compareTable {
  margin-top: 60px;
}

.tableHeader {
  height: 48px;
  background-color: #f5f7fb;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .headItem {
    display: block;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: normal;
    text-align: center;
    color: #6f7787;
  }
  .vsItem {
    position: absolute;
    display: block;
    text-align: center;
    left: 0;
    right: 0;
    font-size: 20px;
    font-weight: bold;
    color: #34495e;
  }
}

.tableRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .rowItem {
    flex: 1 50%;
    display: flex;
    align-items: center;
    padding: 20px;
    .imgWrapper {
      flex: 1 100%;
      align-self: stretch;
      max-width: 114px;
      width: 100%;
      padding-top: 30px;
      margin-right: 40px;
      img {
        width: 100%;
      }
    }
    .contentWrapper {
      flex: 1 100%;
      .title {
        font-size: 20px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: normal;
        color: #30343f;
      }
      .content {
        font-size: 16px;
        font-weight: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #666d7c;
      }
    }
    &:nth-child(1) {
      border-right: dashed 1px #e7eaf2;
    }
  }
  &:nth-child(2n + 1) {
    border-top: solid 1px #b5bac5;
    border-bottom: solid 1px #b5bac5;
  }
}
