$content-width: 1080px;
.newsDetail {
  word-break: break-all;
  .innerContainer {
    max-width: 1080px;
    margin: 0 auto;
    padding: 50px 90px 85px 90px;
    @media (max-width: 768px) {
      padding: 30px 10px;
    }
  }
}

.detailWrapper {
  border: solid 1px #e7eaf2;
  padding: 70px 90px 30px 90px;
  margin-bottom: 40px;
  .line {
    width: 48px;
    border-bottom: solid 2px #1ae8c9;
    margin-bottom: 16px;
  }
  .title {
    font-size: 32px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    color: #202d3e;
    margin-bottom: 34px;
  }
  .date {
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #202d3e;
    margin-bottom: 6px;
  }
  .link {
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9aa3b5;
    margin-bottom: 43px;
  }
  .grayLine {
    width: 100%;
    border-bottom: solid 1px #e7eaf2;
    margin-bottom: 18px;
  }
  .imgWrapper {
    margin: 0 auto;
    margin-bottom: 37px;
    text-align: center;
    img {
      width: 100%;
    }
  }
  .content {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.61;
    letter-spacing: normal;
    color: #000000;
    white-space: pre-wrap;
    word-break: normal;
  }
  @media (max-width: 768px) {
    padding: 36px 8px 40px 8px;
    .title {
      font-size: 24px;
      margin-bottom: 23px;
    }
    .link {
      white-space: pre-line;
      margin-bottom: 23px;
    }
    .content {
      font-size: 16px;
    }
  }
}

.otherArticle {
  margin-bottom: 40px;
  .linkWrapper {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    .iconWrapper {
      padding-left: 40px;
      padding-right: 40px;
      display: inline-block;
      vertical-align: top;
      svg {
        width: 21px;
        height: 12px;
        margin-right: 10px;
      }
      .label {
        font-size: 20px;
        font-weight: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #5f7591;
      }
    }
    .article {
      display: inline-block;
      font-size: 20px;
      font-weight: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #202d3e;
      vertical-align: top;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 700px;
      white-space: nowrap;
    }
    &.hide {
      display: none;
    }
  }
  @media (max-width: 768px) {
    margin-bottom: 24px;
    .linkWrapper {
      .iconWrapper {
        svg {
          display: none;
        }
      }
      .article {
        display: none;
      }
      padding: 0;
      margin: 0 auto;
      max-width: 347px;
      height: 69px;
      line-height: 69px;
      border-radius: 4px;
      border: solid 1px #d8dde7;
      font-size: 18px;
      font-weight: normal;
      letter-spacing: normal;
      text-align: center;
      color: #5f7591;
      margin-bottom: 8px;
    }
  }
}

.listBtn {
  display: block;
  margin: 0 auto;
  max-width: 347px;
  height: 69px;
  line-height: 69px;
  border-radius: 4px;
  border: solid 1px #d8dde7;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: normal;
  text-align: center;
  color: #5f7591;
}
