$container-width: 1080px;
.footer {
  background-color: #f5f7fb;
  padding-top: 36px;
  padding-bottom: 50px;
  .innerContainer {
    max-width: $container-width;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
  @media (max-width: 768px) {
    padding-bottom: 36px;
    .innerContainer {
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.leftSection {
  width: 50%;
  @media (max-width: 768px) {
    width: 100%;
    margin-bottom: 60px;
  }
}

.logoImage {
  height: 36px;
  margin-bottom: 32px;
  img {
    height: 100%;
  }
}

.sualabInfo {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: normal;
  color: #9aa3b5;
  white-space: pre-wrap;
  @media (max-width: 768px) {
    font-size: 11px;
  }
}

.rightSection {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.menuItem {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  line-height: normal;
  letter-spacing: normal;
  color: #9aa3b5;
  &:hover {
    color: #6f7787;
    transition: 0.3s, ease-in-out;
  }
}

.menuWrapper {
  .menuItem {
    margin-left: 18px;
    margin-right: 18px;
  }
  @media (max-width: 768px) {
    display: none;
    visibility: hidden;
  }
}

.otherMenuWrapper {
  .menuItem {
    font-size: 13px;
    margin-left: 10px;
    margin-right: 10px;
  }
  @media (max-width: 768px) {
    .menuItem {
      color: #34495e;
      text-decoration: underline;
      font-size: 10px;
    }
  }
}

/* modal */

.infoModalBody {
  overflow: hidden;
}

.infoModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.41);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.infoModal {
  outline: none;
  max-width: 960px;
  width: 100%;
  border-radius: 10px;
  background-color: #ffffff;
  overflow: auto;
  padding: 50px 50px 30px 50px;
  @media (max-width: 768px) {
    padding: 20px 16px;
  }
}

.modalContent {
  background-color: #f5f7fb;
  padding: 8px;
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #34495e;
  margin-bottom: 50px;
  white-space: pre-wrap;
  max-height: 70vh;
  overflow-y: auto;
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
  }
  .lead {
    display: block;
    font-size: 16px;
    font-weight: bold;
  }
  a {
    color: #1ae8c9;
  }
  @media (max-width: 768px) {
    margin-bottom: 24px;
  }
}

.closeBtn {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 183px;
  height: 57px;
  line-height: 57px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #d8dde7;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: normal;
  text-align: center;
  color: #5f7591;
}