$container-width: 1080px;
.fifthSection {
  background-color: #f5f9fb;
  .innerContainer {
    max-width: $container-width;
    margin: 0 auto;
    padding-top: 48px;
    padding-bottom: 40px;
    @media (max-width: 768px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.line {
  width: 48px;
  height: 1px;
  border-bottom: solid 2px #1ae8c9;
  margin: 0 auto;
  margin-bottom: 12px;
}

.subTitle {
  font-size: 28px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #0c1020;
  margin-bottom: 50px;
}

.questionItem {
  margin-bottom: 48px;
  .question {
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #30343f;
  }
  .answer {
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #666d7c;
    white-space: pre-wrap;
    svg {
      width: 19px;
      height: 19px;
      vertical-align: bottom;
      margin-right: 18px;
      @media (max-width: 768px) {
        margin-right: 8px;
      }
    }
  }
}