$container-width: 1080px;

.suakitSection {
  padding-top: 70px;
  padding-bottom: 40px;

  .innerContainer {
    max-width: $container-width;
    margin: 0 auto;
    padding-left: 90px;
    padding-right: 90px;
  }
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 50px;
}

.leftWrapper {
  flex: 1 0px;

  .tag {
    display: inline-block;
    padding: 0 10px;
    background-image: linear-gradient(106deg, #29dcf9, #1ff2d2);
    font-size: 16px;
    font-weight: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: center;
    color: #202d3e;

    margin-bottom: 11px;
  }

  .suakitName {
    font-size: 36px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #202d3e;
    margin-bottom: 5px;
  }

  .suakitInfo {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.78;
    letter-spacing: normal;
    text-align: left;
    color: #202d3e;
  }
}

.rightWrapper {
  flex: 0 0px;

  .downloadBtn {
    display: block;

    width: 223px;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
    background-color: #f5f7fb;

    border: solid 1px #d8dde7;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: normal;
    text-align: center;
    color: #202d3e;
  }
}

.underline {
  width: 100%;
  height: 1px;
  border-bottom: solid 1px #e7eaf2;
}
