$container-width: 1080px;

.secondContainer {
  height: 150px;
  padding-top: 18px;
  padding-bottom: 40px;

  .innerContainer {
    max-width: $container-width;
    margin: 0 auto;
  }
}

.title {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 1.5px;
  color: #bbc2d0;
  text-align: center;
}

.grayLine {
  width: 200px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  border-bottom: 1px solid #d8dde7;
}

.awardWrapper {
  text-align: center;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;

  .award {
    flex: 1 auto;
    max-width: 30%;

    .awardImage {
      display: inline-block;
      vertical-align: middle;
      height: 48px;
    }

    .awardContent {
      display: inline-block;
      margin-left: 20px;
      font-size: 12px;
      font-weight: 300;
      color: #666d7c;
      text-align: left;
      vertical-align: middle;
      line-height: 1.4;
      white-space: pre-wrap;
    }
  }

  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
