$container-width: 1080px;
.secondContainer {
  padding-top: 18px;
  padding-bottom: 40px;
  .innerContainer {
    max-width: $container-width;
    margin: 0 auto;
  }
  @media (max-width: 768px) {
    padding-top: 27px;
    padding-bottom: 30px;
    .innerContainer {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.title {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 1.5px;
  color: #bbc2d0;
  text-align: center;
}

.grayLine {
  width: 200px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  border-bottom: 1px solid #d8dde7;
}

.awardWrapper {
  text-align: center;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  .award {
    flex: 1 auto;
    max-width: 30%;
    .awardImage {
      display: inline-block;
      vertical-align: middle;
      height: 48px;
    }
    .awardContent {
      display: inline-block;
      margin-left: 20px;
      font-size: 12px;
      font-weight: 300;
      color: #666d7c;
      text-align: left;
      vertical-align: middle;
      line-height: 1.4;
      white-space: pre-wrap;
    }
  }
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    .award {
      max-width: initial;
      margin-bottom: 40px;
    }
    .awardContent {
      font-size: 10px;
    }
  }
}
