.popupWrapper {
    position: absolute;
    z-index: 99;
    top: 100px;
    right: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.popupWrapper {
    position: absolute;
    z-index: 100;
    top: 100px;
    right: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.linkBoxStyle_en {
    position: absolute;
    z-index: 100;
    top: 460px;
    left: 112px;
    width: 248px;
	height: 20px;
	background:transparent;
}

.linkBoxStyle_ko {
    position: absolute;
    z-index: 100;
	left: 32px;
    top: 453px;
    width: 270px;
	height: 23px;
	background:transparent;
}

.checkboxStyle {
    padding: 4px;
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;
    color: #ffffff;
    font-size: 14px;
    
    label {
        margin: 0px 4px;
    }
    .closeBtn {
        cursor: pointer;
    }
}