$container-width: 1080px;

.thirdSection {
  padding-top: 60px;
  padding-bottom: 160px;
  background-color: #202d3e;

  .innerContainer {
    max-width: $container-width;
    margin: 0 auto;
  }
}

.line {
  width: 48px;
  height: 1px;
  border-bottom: solid 1px #1ae8c9;
  margin: 0 auto;
  margin-bottom: 20px;
}

.subTitle {
  font-size: 28px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .contentItem {
    position: relative;

    flex: 1 0px;
    max-width: 255px;
    height: 131px;
    border-radius: 8px;
    background-color: #34495e;
    border: solid 1px #5f7591;

    font-family: NotoSansCJKkr;
    font-size: 19px;
    font-weight: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.info {
  position: absolute;
  left: 0;
  top: 150px;
  word-break: keep-all;
  font-size: 13px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: left;
  color: #b5bac5;

  span {
    font-size: 15px;
  }
}
