$container-width: 1080px;
.featureSection {
  .innerContainer {
    max-width: $container-width;
    margin: 0 auto;
  }
}

.line {
  width: 48px;
  height: 2px;
  border-bottom: solid 2px #1ae8c9;
  margin-bottom: 16px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0c1020;
  margin-bottom: 35px;
}

.featureItem {
  margin-bottom: 60px;
  .featureTitle {
    font-size: 22px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #34495e;
    margin-bottom: 16px;
  }
  .featureImage {
    height: 275px;
    text-align: center;
    margin-bottom: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
  }
  .featureContent {
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #34495e;
    white-space: pre-wrap;
  }
}
