.peopleCard {
  width: 200px;
  height: 258.6px;
  border-radius: 11.3px;
  background-color: #ffffff;
  border: solid 1px #e7eaf2;
  overflow: hidden;
  text-align: center;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-right: 10px;
  margin-bottom: 10px;
}

.innerWrapper {
  .imageWrapper {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 0;
    }
  }

  .position {
    font-size: 12.5px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5f7591;
    margin-bottom: 7px;
  }

  .name {
    font-size: 18.8px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    color: #202d3e;
    margin-bottom: 3px;
  }

  .engName {
    font-size: 12.5px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #202d3e;
  }
}

.detailWrapper {
  opacity: 0;
  transition: opacity 0.2s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(48, 52, 63, 0.9);

  display: flex;
  justify-content: center;
  align-items: center;

  .detailContent {
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    white-space: pre-wrap;
  }
}

.peopleCard:hover {
  .detailWrapper {
    opacity: 1;
  }
}
