$container-width: 1080px;
.networkPage {
  .innerContainer {
    max-width: $container-width;
    margin: 0 auto;
    padding: 55px 90px;
    text-align: center;
    @media (max-width: 768px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.mapWrapper {
  margin-bottom: 55px;
  .mapContainer {
    height: 450px;
  }
  @media (max-width: 768px) {
    .mapContainer {
      height: 240px;
    }
    margin-bottom: 44px;
  }
}

.networkListWrapper {
  .continentLabel {
    font-size: 28px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #9aa3b5;
    margin-bottom: 16px;
    @media (max-width: 768px) {
      margin-top: 80px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.companyItem {
  display: flex;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: solid 1px #d8dde7;
  .country {
    flex: 0 180px;
    min-width: 180px;
    font-size: 28px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: normal;
    color: #0c1020;
  }
  .infoWrapper {
    flex: 0 auto;
    .infoLine {
      display: flex;
      justify-content: flex-start;
      .label {
        display: inline-block;
        width: 130px;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.8;
        letter-spacing: normal;
        text-align: left;
        color: #34495e;
      }
      .content {
        display: inline-block;
        font-size: 18px;
        font-weight: normal;
        line-height: 1.8;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        width: 460px;
      }
    }
  }
  &:last-child {
    border-bottom: solid 1px #d8dde7;
  }
  @media (max-width: 768px) {
    flex-direction: column;
    .country {
      margin-bottom: 16px;
      flex: 0 auto;
    }
    .label {
      margin-right: 16px;
    }
    .label,
    .content {
      font-size: 16px !important;
    }
  }
}

.areaSelection {
  min-width: 900px;
  max-width: $container-width;
  margin: 0 auto;
  text-align: center;
  display: flex;
  @media (max-width: 768px) {
    display: none;
  }
}

.areaSelectionForMobile {
  display: none;
  @media (max-width: 768px) {
    display: block;
    margin-bottom: 16px;
    width: 100%;
    .selectedWrapper {
      display: flex;
      justify-content: space-between;
      border: 1px solid #cccccc;
      padding: 12px;
      :nth-child(1) {
        color: #adb3b9;
      }
      :nth-child(2) {
        color: rgb(32, 45, 62);
        font-weight: bold;
      }
    }
    
    .selection {
      position: absolute;
      z-index: 999;
      display:block;
      background-color: #ffffff;
      width: calc(100% - 20px);
      ul {
        padding: 0;
        margin-top: 0;
        text-align: left;
        li {
          list-style: none;
          border-bottom: 1px solid #cccccc;
          border-left: 1px solid #cccccc;
          border-right: 1px solid #cccccc;
          padding: 12px;
        }
        .selected {
          color: #00c4b3;
        }
      }
    }
    .hidden {
      display: none;
    }
  }
}
.areaSelectionForMobile:focus {
  outline: none;
  .selection {
    outline: none;
    display:block;
  }
}

.area {
  flex: 1;
  padding: 12px 24px;
  color: #111721;
  font-weight: 400;
  cursor: pointer;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  &.selected {
    background-color: #202d3e;
    color: #ffffff;
  }
  &:last-child {
    border-right: 1px solid #cccccc;
  }
}

.mapArea {
  display: show;
  background-color: rgb(238,238,238);
  margin-bottom:10px;
  @media (max-width: 768px) {
    display: none;
    margin-bottom:0;
  }
}

.companyArea{
  min-width: 900px;
  max-width: $container-width;
  @media (max-width: 768px) {
    min-width: 0px;
  }
}


.companyWrapper {
  display: flex;
  text-align: left;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: solid 1px #d8dde7;
  border-bottom: solid 1px #d8dde7;
  margin-bottom: 8px;
  .ciWrapper {
    margin-right: 24px;
    min-width: 200px;
    line-height: normal;
    letter-spacing: normal;
    color: #0c1020;
    .companyType {
      margin-top: -9px;
      span {
        background-color:rgb(0,196,179);
        color: #ffffff;
        padding:6px 12px;
        font-size: 14px;
        letter-spacing: normal;
        font-weight: bold;
      } 
    }
    .campanyLogo {
      padding: 12px;
      text-align: center;
      img {
        width: 180px;
        height: 180px;
      }
    }
  }
  
  .infoWrapper {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: normal;
    color: #0c1020;
    .company {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
      padding-left: 10px;
      div {
        font-size: 20px;
      }
      .companyLink{
        font-size: 14px;
        margin-right: 4px;
        color: #34495e;
      }
      @media (max-width: 768px) {
        flex-direction: column;
      }
    }
    .countryWrapper {
      background-color: #f4f4f4;
      padding: 4px 6px;
      margin-bottom: 6px;
      display: flex;
      flex-direction: row;
      .countries {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 4px;
        font-weight: bold;
        div {
          margin-right: 4px;
        }
      }
    }
    .companyLine {
      margin-bottom: 12px;
      .infoLine {
        display: flex;
        justify-content: flex-start;
        padding-left: 10px;
        .label {
          display: inline-block;
          width: 80px;
          font-size: 14px;
          font-weight: bold;
          line-height: 1.6;
          letter-spacing: normal;
          text-align: left;
          color: #34495e;
        }
        .content {
          display: inline-block;
          padding-left: 10px;
          font-size: 14px;
          font-weight: normal;
          line-height: 1.6;
          letter-spacing: normal;
          text-align: left;
          color: #666d7c;
          width: 460px;
        }
      }
    }
  }
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
