$container-width: 1080px;
.usageSection {
  padding-top: 72px;
  word-break: keep-all;
}

.innerContainer {
  max-width: $container-width;
  margin: 0 auto;
  @media (max-width: 768px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.line {
  width: 48px;
  height: 1px;
  border-bottom: solid 1px #1ae8c9;
  margin-bottom: 16px;
}

.subTitle {
  font-size: 28px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  color: #0c1020;
  margin-bottom: 32px;
}

.content {
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666d7c;
  margin-bottom: 40px;
}

.tabButtons {
  display: flex;
  align-items: center;
  .button {
    cursor: pointer;
    height: 70px;
    line-height: 70px;
    flex: 1 100%;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: normal;
    text-align: center;
    color: #9aa3b5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    &.active {
      background-color: #f5f7fb;
      color: #34495e;
    }
    @media (max-width: 768px) {
      font-size: 16px;
      height: 48px;
      line-height: 48px;
    }
  }
}

.tabSection {
  background-color: #f5f7fb;
  padding-top: 35px;
  padding-bottom: 10px;
  .innerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 768px) {
      justify-content: space-around;
      padding-bottom: 32px;
    }
  }
}

.cardItem {
  flex: 1 33%;
  max-width: 340px;
  height: 330px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 5px 0 rgba(181, 186, 197, 0.44);
  padding: 30px 24px;
  margin-bottom: 40px;
  .cardTitle {
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 8px;
  }
  .cardContent {
    font-size: 15px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 36px;
  }
  .imgWrapper {
    text-align: center;
    width: 100%;
    height: 140px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
  }
  &:nth-child(4) {
    .imgWrapper {
      padding-top: 10px;
      height: 130px;
    }
  }
  &:nth-child(6) {
    .imgWrapper {
      padding-top: 10px;
      height: 120px;
    }
  }
  @media (max-width: 768px) {
    flex: 1 100%;
    margin-bottom: 8px;
  }
}
