@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}