$container-width: 1080px;
.secondSection {
  padding-top: 56px;
  padding-bottom: 75px;
  .innerContainer {
    max-width: $container-width;
    margin: 0 auto;
    @media (max-width: 768px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.line {
  width: 48px;
  height: 1px;
  border-bottom: solid 1px #1ae8c9;
  margin: 0 auto;
  margin-bottom: 20px;
}

.subTitle {
  font-size: 28px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #0c1020;
  margin-bottom: 50px;
  @media (max-width: 768px) {
    margin-bottom: 34px;
  }
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.contentItem {
  flex: 1 0px;
  padding: 0 50px;
  .imgWrapper {
    width: 152px;
    height: 152px;
    margin: 0 auto;
    margin-bottom: 24px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }
  .itemTitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.89;
    letter-spacing: normal;
    text-align: center;
    color: #34495e;
    margin-bottom: 19px;
  }
  .itemContent {
    font-size: 15px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #6f7787;
    white-space: pre-wrap;
  }
  @media (max-width: 768px) {
    .itemContent {
      font-size: 14px;
      white-space: initial;
    }
    &:first-child {
      margin-bottom: 45px;
    }
  }
}
